<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement Card</title>
    <link rel="stylesheet" href="announce-card.css">
</head>

<body>
    <div class="card">
        <div class="card-bar"></div>

        <div class="card-content">
            <div class="top-row">
                <span class="course-tag">CS222</span>
            </div>
            <div class="teacher">Teacher</div>

            <h3 class="title">Midterm Exam Scores</h3>

            <div class="desc">
                ดูคะแนนสอบกลางภาค (individual score) ที่เมนู Grades
                คะแนนเฉลี่ยสำหรับการสอบกลางภาค คือ 44.13 (คะแนนเต็ม 100)
            </div>

            <div class="time">Now</div>
        </div>

        <div class="badge">New</div>
    </div>
    <script src="announce-card.js"></script>
</body>


</html>